{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}
<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}

    <product-form
      class="product-form"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section.id }}"
    >
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <span class="svg-wrapper">
          {{- 'icon-error.svg' | inline_asset_content -}}
        </span>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
          %}
            disabled
          {% endif %}
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        <div class="product-form__buttons">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant == null -%}
                {{ 'products.product.unavailable' | t }}
              {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
            {%- render 'loading-spinner' -%}
          </button>
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary "
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}
  <div
    @click="show('almightyintl', $event); $refs.almightyintl.style.top = ($event.target.getBoundingClientRect().bottom + window.scrollY) + 'px'; $refs.almightyintl.style.left = ($event.target.getBoundingClientRect().left + window.scrollX) + 'px'; $refs.almightyintl.style.display = 'block';"
    class="t-md:items-center t-md:flex-row t-flex t-cursor-pointer t-items-start t-flex-col t-text-center t-md:text-left"
    style="position:relative;"
  >
    <div class="t-product-icon-grid__icon t-inline-block t-md:block t-w-full t-min-h-12.5 t-md:w-unset t-md:min-h-unset">
      <img
        src="https://www.osprey.com/gb/static/version1747292182/frontend/MagebitHoT/osprey/en_GB/images/product_icons/all-mighty-guarantee.svg"
        alt="All Mighty Guarantee International"
        width="60"
        class="t-inline-block t-md:block"
        height="auto"
      >
    </div>
    <p class="t-product-icon-grid__icon-title t-text-xs t-font-bold t-uppercase t-leading-[1.25] t-md:pl-2 t-m-0">
      All Mighty Guarantee
    </p>
  </div>
  <div
    x-ref="almightyintl"
    role="dialog"
    aria-modal="true"
    class="inline-block overscroll-y-contain bg-white md:w-3/4 h-auto max-h-popup md:shadow-2xl max-w-[90vw] md:max-w-183.5 lg:w-full relative w-full disable-spacing"
    style="display:none; position:absolute; z-index:1000;"
  >
    <button
      type="button"
      x-on:click.prevent="() => {window.hyva.modal.pop(); window.dispatchEvent(new CustomEvent('hyva-modal-hide', {detail: {dialog: 'almightyintl'}})); $refs.almightyintl.style.display = 'none';}"
      aria-label="Close"
      class="text-white p-2.5 hover:bg-white/50 outline-none absolute right-0 -top-11.25"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        class="w-6 h-6 text-white"
        aria-hidden="true"
      >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z" fill="currentColor"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="currentColor"></path>
      </svg>
    </button>
    <div class="lg:p-8 p-5 modal-content-wrapper max-h-popup overflow-y-auto icon-modal-content-wrapper">
      <div data-content-type="block" data-appearance="default" data-element="main">
        <div class="widget block block-static-block">
          <style>
            #html-body [data-pb-style='N9NF7JR'] {
              justify-content: flex-start;
              display: flex;
              flex-direction: column;
              background-position: left top;
              background-size: cover;
              background-repeat: no-repeat;
              background-attachment: scroll;
            }
            #html-body [data-pb-style='Y5J5GHY'] {
              margin-top: 20px;
              margin-bottom: 20px;
            }
          </style>
          <div
            class="soelden"
            data-content-type="row"
            data-appearance="full-bleed"
            data-enable-parallax="0"
            data-parallax-speed="0.5"
            data-background-images="{}"
            data-background-type="image"
            data-video-loop="true"
            data-video-play-only-visible="true"
            data-video-lazy-load="true"
            data-video-fallback-src=""
            data-element="main"
            data-pb-style="N9NF7JR"
          >
            <div data-content-type="block" data-appearance="default" data-element="main">
              <div class="widget block block-static-block">
                <style>
                  #html-body [data-pb-style='HCIJU4F'] {
                    justify-content: flex-start;
                    display: flex;
                    flex-direction: column;
                    background-position: left top;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                  }
                </style>
                <div data-content-type="row" data-appearance="contained" data-element="main">
                  <div
                    data-enable-parallax="0"
                    data-parallax-speed="0.5"
                    data-background-images="{}"
                    data-background-type="image"
                    data-video-loop="true"
                    data-video-play-only-visible="true"
                    data-video-lazy-load="true"
                    data-video-fallback-src=""
                    data-element="inner"
                    data-pb-style="HCIJU4F"
                  >
                    <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
                      <img
                        src="https://www.osprey.com/gb/static/version1747292182/frontend/MagebitHoT/osprey/en_GB/images/product_icons/all-mighty-guarantee.svg"
                        alt="All Mighty Guarantee International"
                        width="150"
                        height="auto"
                        loading="lazy"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4 data-content-type="heading" data-appearance="default" data-element="main" data-pb-style="Y5J5GHY">
              OSPREY'S ALL MIGHTY GUARANTEE
            </h4>
            <div data-content-type="text" data-appearance="default" data-element="main">
              <p>Since 1974 Osprey has only designed and built high-quality products.</p>
              <p>
                Should you find any defect in the way your pack has been built, we will repair or replace it without any
                charge, within its reasonable lifetime.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- if show_pickup_availability -%}
    {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

    {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
      | where: 'pick_up_enabled', true
    -%}

    <pickup-availability
      class="product__pickup-availabilities quick-add-hidden"
      {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
        available
      {% endif %}
      data-root-url="{{ routes.root_url }}"
      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
      data-has-only-default-variant="{{ product.has_only_default_variant }}"
      data-product-page-color-scheme="gradient color-{{ section.settings.color_scheme }}"
    >
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          <span class="svg-wrapper">
            {{- 'icon-unavailable.svg' | inline_asset_content -}}
          </span>
          <div class="pickup-availability-info">
            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
            <button class="pickup-availability-button link link--text underlined-link">
              {{ 'products.product.pickup_availability.refresh' | t }}
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</div>
